<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827337112175-oui4gm922tahqq304kkgagle4tuuil74.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827337112175-oui4gm922tahqq304kkgagle4tuuil74</string>
	<key>API_KEY</key>
	<string>AIzaSyAbEUrUn2Ue55DCwyGBuCRujKah58WHr80</string>
	<key>GCM_SENDER_ID</key>
	<string>827337112175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.Serv</string>
	<key>PROJECT_ID</key>
	<string>serviceapp22</string>
	<key>STORAGE_BUCKET</key>
	<string>serviceapp22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:827337112175:ios:eee736119596766f08ab9a</string>
</dict>
</plist>
